.purple {
  color: #6260F5;
}

.skewed--content {
  background-color: #061B36;
  height: auto;
  transform: skewY(-3deg);
  width: 100%;
}

.skewed--content .container {
  color: #fff;
  transform: skewY(3deg);
}

.stacked-cards {
  position: relative;
}

.stacked-cards .stacked-cards--avatar {
  position: absolute;
  left: 48%;
  top: -30px;
  z-index: 1;
}

.stacked-cards .stacked-cards--background {
  background-color: #D9E9FD;
  width: 715px;
  height: 20px;
  top: -15px;
  border-radius: 5px;
  margin-left: 15px;
  position: absolute;
}

.stacked-cards .stacked-cards--foreground {
  background-color: #4399F7;
}
